.random-cart{
    padding: 15px;
    border: 1px;
    border-radius: 10px;
}
.cart-item{
    display: flex;
    align-items: center;
}
.cart-image img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.cart-title {
    margin-left: 15px;
}